{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Voting page</title>
        <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" />
        <script src="{% static 'jquery.min.js' %}"></script>
    </head>
    <body>
        <div class="container">
            <h2>Vote for your Party:</h2>
            <div class="mt-4">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">{{ form.vote }}</div>
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                </form>
            </div>
        </div>
    </body>
</html>
