<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Results Page</title>
        <link
            type="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
    </head>
    <body class="container mt-5">
        <div class="bg-light shadow rounded mt-5 p-5">
            <h2>Congratulations {{ name }}! Your CGPA is {{ cgpa }}</h2>
        </div>
        <a href="{% url 'firstPage' %}" class="btn btn-primary">Go Back</a>
    </body>
</html>
